@model conference.Models.Speaker

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Speaker</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmailAddres)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmailAddres)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.SpeakerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@Html.Action("_GetForSpeaker", "Session", new { SpeakerId = Model.SpeakerId });